.d-ltr {
  direction: ltr !important;
}

.d-none {
  display: none !important;
}

.button-error {
  background: #b12222 !important;
  border-color: #b12222 !important;
}

.button-error:hover {
  background: #961313 !important;
  border-color: #961313 !important;
}

.button-success {
  background: #4ab122 !important;
  border-color: #4ab122 !important;
}

.button-success:hover {
  background: #139613 !important;
  border-color: #139613 !important;
}

.border-error {
  border-color: #b12222 !important;
}

.w-100 {
  width: 100%;
}





.gallery-management-container {
  padding-top: 20px;
}

.gallery-management-container .sortable-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.gallery-management-container .image-item {
  position: relative;
  cursor: move;
}

.gallery-management-container .image-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.gallery-management-container .remove-image {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  padding: 2px 5px;
  text-decoration: none;
}